@font-face {
  font-family: "iconfont"; /* Project id 4521682 */
  src: url('iconfont.woff2?t=1713956084029') format('woff2'),
       url('iconfont.woff?t=1713956084029') format('woff'),
       url('iconfont.ttf?t=1713956084029') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-chart_header_icon:before {
  content: "\e604";
}

.icon-a-point_square_icon:before {
  content: "\e603";
}

.icon-square:before {
  content: "\e6d6";
}

.icon-yunfuwushezhi:before {
  content: "\e7f7";
}

.icon-jianzhuwuguanli:before {
  content: "\e602";
}

.icon-renminbifuhao:before {
  content: "\e606";
}

